@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(100, 161, 214);
    color: rgb(241, 235, 225);
}
.letter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-information{
    display: flex;
    justify-content: center;
}
.information{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
}
.information .letter{
    margin: 5px;
}
.addedInfo span{
    color: red;
}
.title-information{
    display: flex;
    justify-content: center;
}
.introduction{
    display: flex;
    justify-content: center;

}
.converters{
    display: flex;
    justify-content: center;
}
.converters .number, .converters .alphabet{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.credits{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 1000px;
    transition: ease 0.3s;
}
.credits a{
    color: black;
    font-weight: 600;
    text-decoration: none;
    font-size: 15px;
    -webkit-text-stroke: .27px white;
    
}
.credits:hover{
    color: white;
    -webkit-text-stroke: .3px black;
    transform: scale(1.1);
}
.addedInfo .title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webversion{
    position: fixed;
    top: 0;
    font-family: 'Monospace', monospace;    
}
.wrapper-challange{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.challange{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: rgb(10, 45, 93);
    padding: 10px;
}